<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxshop.shop.order.mapper.MyOrderMapper">
    <insert id="insertOrders" parameterType="OrderInfo">
        insert into `order`.ORDER_GOODS (GOODS_ID, ORDER_ID,NUMBER)
        values
        <foreach item="item" collection="goods" separator=",">
            (#{item.id},#{id},#{item.number})
        </foreach>
    </insert>
    <select id="getGoodsInfoOfOrder" parameterType="long" resultType="GoodsInfo">
        select `order`.ORDER_GOODS.GOODS_ID as id,
               `order`.ORDER_GOODS.NUMBER   as number
        from `order`.ORDER_GOODS
        where ORDER_ID = #{id}
    </select>
</mapper>